@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #ddd;
}


.missing-resources {
    color: red;
    font-weight: bold;
  }

.outer-container {
    background-image: url('images/username_and_password_image_template_no_fields.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 1000px;
    max-height: 1000px;
    width: 100%;
    height: 100vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}


.inner-container {

    position: relative;
    width: 535px;
    height: 344px;
    background-image: url('images/username_and_password_image.jpg');
    /* inne style dla kontenera */
    margin-bottom: -30px;
    /*padding-bottom: 30px;*/
}

#username-field, #password-field {

    position: absolute;
    /* Ustaw szerokość i wysokość pól */
    width: 200px; /* przykładowa szerokość */
    height: 40px; /* przykładowa wysokość */
}

#username-field {
    top: 130px; /* odległość od góry kontenera */
    left: 50px; /* odległość od lewej strony kontenera */
}

#password-field {
    top: 275px; /* odległość od góry kontenera */
    left: 50px; /* odległość od lewej strony kontenera */

}

#submit-button button[type="submit"]{
    position: absolute;
    top: 360px; /* odległość od góry kontenera */
    left: 100px; /* odległość od lewej strony kontenera */
    width: 360px;  /* Szerokość przycisku */
    height: 60px;
    border: none;
    background: transparent;
    /*opacity: 0.1;*/
}

.login-form_user_pass input[name="username"] {
    width: 400px;  /* Szerokość pola */
    height: 40px;  /* Wysokość pola */
    background-color: transparent; /* Tło przezroczyste */
    /* Dodatkowe style, jeśli potrzebne, np. styl tekstu, obramowanie itp. */
}
.login-form_user_pass input[name="password"] {
    width: 400px;  /* Szerokość pola */
    height: 40px;  /* Wysokość pola */
    background-color: transparent; /* Tło przezroczyste */
    /* Dodatkowe style, jeśli potrzebne, np. styl tekstu, obramowanie itp. */
}



.resource-icon {
  width: 30px;
  height: 30px;
  vertical-align: middle; /* Aby obraz był wyrównany z tekstem */
}

.map-container {
    max-width: 600px;
    max-height: 600px;
    /*overflow: auto; !* Włącza paski przewijania, jeśli zawartość przekracza wymiary kontenera *!*/
    /* Pozostałe style dla .map-container */
    overflow: scroll;
}

.map-container {
    cursor: grab; /* Kursor do chwytania */
}

.map-container.grabbing {
    cursor: grabbing; /* Kursor podczas przeciągania */
}

.map-table {
    border-collapse: collapse; /* Usuwa odstępy między komórkami */
    /*width: auto; !* Pozwala na dopasowanie szerokości tabeli do zawartości *!*/
    min-width: 500px;
}

.map-table td {
    width: 50px; /* Ustawia szerokość komórki na 50px */
    height: 50px; /* Ustawia wysokość komórki na 50px */
    padding: 0; /* Usuwa wewnętrzne odstępy komórek */
    margin: 0; /* Usuwa zewnętrzne marginesy komórek */
    border: 0; /* Usuwa ramki komórek */
}
.map-icon {
    display: block; /* Usuwa domyślny margines dolny obrazków */
    width: 50px; /* Szerokość obrazka ustawiona na 50px */
    height: 50px; /* Wysokość obrazka ustawiona na 50px */
}

.image-container {
    position: relative; /* Ustawia kontener jako punkt odniesienia dla pozycjonowania absolutnego */
    width: 50px; /* Ustaw szerokość kontenera */
    height: 50px; /* Ustaw wysokość kontenera */
}

.background-image, .foreground-image {
    position: absolute; /* Pozycjonowanie absolutne względem kontenera */
    top: 0; /* Ustawia obrazek na górze kontenera */
    left: 0; /* Ustawia obrazek na lewej stronie kontenera */
    width: 100%; /* Rozciąga obrazek na całą szerokość kontenera */
    height: 100%; /* Rozciąga obrazek na całą wysokość kontenera */
}
.foreground-image {
    padding: 1px;
    margin-left: 2px;
    width: 90%; /* Rozciąga obrazek na całą szerokość kontenera */
    height: 90%; /
}
/* to jest dla kropki okreslajacej relacje*/
.foreground-image2 {
    position: absolute;
    top: -0; /* Ustawia obrazek na górze kontenera */
    left: -0;

    width: 10px;
    height: 10px;
}

.village-link {
    position: relative;
    display: inline-block;
}
.hitbox {
    position: absolute;
    top: 0;
    left: 0;
    width: 50px; /* Dostosuj do rozmiaru obrazu */
    height: 50px; /* Dostosuj do rozmiaru obrazu */
    z-index: 10; /* Upewnij się, że jest na wierzchu */
    cursor: pointer; /* Opcjonalnie, aby pokazać, że można kliknąć */
    opacity: 0; /* Niewidzialny */
}


.map-header {
    position: sticky;
    background-color: white;
    z-index: 10;
    text-align: center; /* Wyśrodkowanie tekstu */
    min-width: 30px; /* Minimalna szerokość komórki */
}

.map-header:first-child {
    left: 0; /* Dla numerów wierszy */
    width: 30px; /* Ustaw szerokość komórki z numerem wiersza */
}

.map-table tr:first-child .map-header {
    top: 0; /* Dla numerów kolumn */
}

#village-info {
    border: 1px solid #ccc;
    background-color: white;
    padding: 1px;
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.5s ease;
    position:fixed   ; /* Zmiana z absolute na fixed wpywa na to gdzie informacja o wiosce sie wyswietla */
}

#village-info.visible {
    opacity: 1;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: start;
    width: 100%;
    max-width: 1500px; /* Możesz dostosować szerokość */
    /*margin: auto;*/
}
.village-details {
    width: calc(100% - 768px); /* Reszta szerokości minus margines */
    /*padding: 10px;*/
    display: flex;
    flex-direction: column;
    align-items: start;
}
.village-details ul {
    list-style-type: none; /* Usuwa domyślne punktory listy */
    padding: 0;
}

.village-details li {
    margin-bottom: 10px; /* Odstęp między elementami listy */
}
.game-board {
    position: relative;
    width: 1200px;
    height: 650px;
    /*margin: 20px;*/
    background-image: url('village_buildings/mapa_2.png');
    background-repeat: no-repeat;
    /*background-size: 751px 550px;*/
}
.game-piece{
    width: 150px;
    height: 150px;
    position: absolute;
}
.game-piece-town_hall{
    top: 25%;
    left: 50%;
}
.game-piece-granary{
    top: 25%;
    left: 25%;

}
.game-piece-forge{
    top: 50%;
    left:25%;
}
.game-piece-market{
    top: 66%;
    left: 45%;
}
.game-piece-barrack{
    top: 30%;
    left: 75%;
}
.game-piece-stable{
    top: 55%;
    left: 65%;
}
.game-piece-farm{
    top: 0%;
    left: 80%;
}
.game-piece-iron_mine{
    top: 0%;
    left: 0%;
}
.game-piece-clay_pit{
    top: 67%;
    left: 0%;
}
.game-piece-sawmill{
    top: 65%;
    left: 80%;
}
.building-name {
    background: linear-gradient(sandybrown,darkgreen);
    border-radius: 5px; /* Zaokrąglone rogi */
    border: 1px solid black; /* Czarna obwódka */
    text-align: center; /* Wyśrodkowanie tekstu */
    position: absolute;
    top: 0%; /* Dostosuj położenie */
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.building-level {
    width: 35px;
    height: 25px;
    background: linear-gradient(sandybrown,yellow ); /* Gradient tła */
    border-radius: 5px;
    border: 1px solid black;
    text-align: center;
    position: absolute;
    top: -17%; /* Dostosuj położenie */
    left: 49%;
    transform: translateX(-50%);
    z-index: 1;
}

.building-name, .building-level {
    font-family: 'Roboto', sans-serif;
    font-weight: bold; /* Pogrubienie tekstu */
}


.sawmill-background{
        background-image: url('building_backgrounds/sawmill_background.jpg'); /* Zmień na odpowiednią ścieżkę do tła */
}
.clay_pit-background{
        background-image: url('building_backgrounds/clay_pit_background.jpg'); /* Zmień na odpowiednią ścieżkę do tła */
}
.iron_mine-background{
        background-image: url('building_backgrounds/iron_mine_background.jpg'); /* Zmień na odpowiednią ścieżkę do tła */
}

.building-background {
    width: 1200px;
    height: 900px;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: auto;
}

.building-table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}

.building-table th, .building-table td {
    padding: 10px;
    border: 2px solid #555; /* Grubsza i ciemniejsza ramka */
    background-color: transparent; /* Przezroczyste tło dla komórek */
    color: white;
    text-shadow: 1px 1px 2px black; /* Cień tekstu dla lepszej czytelności */
}

/* Styl dla nagłówka lub całej tabeli z gradientem */
.building-table thead {
    background: linear-gradient(to right, brown, green);
}
