table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #ddd;
}


.missing-resources {
    color: red;
    font-weight: bold;
  }
/*.outer-container {*/
/*    background-image: url('images/username_and_password_image_template_no_fields.jpg');*/
/*    background-size: cover;*/
/*    background-repeat: no-repeat;*/
/*    background-position: center;*/
/*    max-width: 1000px;*/
/*    max-height: 1000px;*/
/*    width: 100%;*/
/*    height: 100vh;*/
/*    margin: auto;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*}*/

/*.login-form {*/
/*    !*margin-top: 80px; !* Odstęp od góry kontenera *!*!*/
/*    background-image: url('images/username_and_password_image.jpg');*/
/*    background-size: cover;*/
/*    max-width: 540px;*/
/*    max-height: 340px;*/
/*    width: 100%;*/
/*    height: 100vh;*/
/*    background-repeat: no-repeat;*/
/*    background-position: center;*/
/*    !* Dodaj więcej stylów CSS, aby dostosować wygląd formularza *!*/
/*}*/

/*.login-form label {*/
/*    display: none; !* Ukrywa etykiety *!*/
/*}*/
/*.login-form input {*/
/*    margin-bottom: 20px;}*/




/*.background-container {*/
/*    background-image: url('images/username_and_password_image_template_no_fields.jpg');*/
/*    background-size: cover;*/
/*    background-repeat: no-repeat;*/
/*    background-position: center;*/
/*    position: absolute;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*}*/
/*.login-form {*/
/*    background-image: url('images/username_and_password_image.jpg');*/
/*    max-width: 540px;*/
/*    max-height: 340px;*/
/*    width: 100%;*/
/*    height: 100vh;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    position: relative; !* Dodane, aby umożliwić pozycjonowanie absolutne wewnątrz *!*/
/*}*/
/*.form-container {*/
/*    z-index: 1; !* Upewnij się, że formularz jest na wierzchu *!*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*}*/

/*.form-container input {*/
/*    margin-bottom: 20px; !* Odstęp między polami formularza *!*/
/*}*/

/*.form-container label {*/
/*    display: none; !* Ukrywa etykiety *!*/
/*}*/
.outer-container {
    background-image: url('images/username_and_password_image_template_no_fields.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 1000px;
    max-height: 1000px;
    width: 100%;
    height: 100vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*.inner-container {*/
/*    margin-bottom: -20px;*/

/*    !*background-size: cover;*!*/
/*    background-repeat: no-repeat;*/
/*    background-position: center;*/
/*    width: 545px;*/
/*    height: 344px;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    flex-direction: column;*/
/*}*/

/*.inner-container input {*/
/*    margin-bottom: 20px; !* Odstęp między polami formularza *!*/
/*}*/

/*.inner-container label {*/
/*    display: none; !* Ukrywa etykiety *!*/
/*}*/


/*.form-field_name {*/
/*    !*margin-bottom: 90px; !* Odstęp między polami formularza *!*!*/
/*    padding-bottom: 100px;*/
/*}*/

/*.form-field_pass {*/
/*   padding-bottom: 100px;*/
/*}*/

/*.form-field_submit {*/
/*    padding-bottom: 100px;*/
/*}*/

.inner-container {

    position: relative;
    width: 535px;
    height: 344px;
    background-image: url('images/username_and_password_image.jpg');
    /* inne style dla kontenera */
    margin-bottom: -30px;
    /*padding-bottom: 30px;*/
}

#username-field, #password-field {

    position: absolute;
    /* Ustaw szerokość i wysokość pól */
    width: 200px; /* przykładowa szerokość */
    height: 40px; /* przykładowa wysokość */
}

#username-field {
    top: 130px; /* odległość od góry kontenera */
    left: 50px; /* odległość od lewej strony kontenera */
}

#password-field {
    top: 275px; /* odległość od góry kontenera */
    left: 50px; /* odległość od lewej strony kontenera */

}

#submit-button button[type="submit"]{
    position: absolute;
    top: 360px; /* odległość od góry kontenera */
    left: 100px; /* odległość od lewej strony kontenera */
    width: 360px;  /* Szerokość przycisku */
    height: 60px;
    border: none;
    background: transparent;
    /*opacity: 0.1;*/
}
/*input[type="password"]{*/
/*   width: 360px;  !* Szerokość przycisku *!*/
/*    height: 40px;*/
/*}*/
.login-form_user_pass input[name="username"] {
    width: 400px;  /* Szerokość pola */
    height: 40px;  /* Wysokość pola */
    background-color: transparent; /* Tło przezroczyste */
    /* Dodatkowe style, jeśli potrzebne, np. styl tekstu, obramowanie itp. */
}
.login-form_user_pass input[name="password"] {
    width: 400px;  /* Szerokość pola */
    height: 40px;  /* Wysokość pola */
    background-color: transparent; /* Tło przezroczyste */
    /* Dodatkowe style, jeśli potrzebne, np. styl tekstu, obramowanie itp. */
}

/*input[type="text"]{*/
/*   width: 360px;  !* Szerokość przycisku *!*/
/*    height: 40px;*/
/*}*/

.resource-icon {
  width: 30px;
  height: 30px;
  vertical-align: middle; /* Aby obraz był wyrównany z tekstem */
}

/*.map-table img {*/
/*    width: 60px; !* lub inny pożądany rozmiar *!*/
/*    height: 60px;*/
/*}*/

/*.map-table {*/
/*    border-collapse: collapse; !* Usuwa odstępy między komórkami *!*/
/*    width: 100%; !* Opcjonalnie, aby tabela zajmowała całą dostępną szerokość *!*/
/*}*/

/*.map-table td {*/
/*    width: 60px; !* lub inny pożądany rozmiar *!*/
/*    height: 60px;*/
/*    padding: 0; !* Usuwa wewnętrzne odstępy komórek *!*/
/*    margin:  0;*/
/*}*/

/*.map-icon {*/
/*    display: block; !* Usuwa domyślny margines dolny obrazków *!*/
/*    width: 100%; !* Szerokość obrazka dopasowana do szerokości komórki *!*/
/*    height: auto; !* Wysokość obrazka zachowuje proporcje *!*/
/*}*/
/*.map-container {*/
/*    width: 1000px;*/
/*    height: 1000px;*/
/*    overflow: auto; !* Włącza przewijanie, jeśli zawartość jest większa niż kontener *!*/
/*    border: 1px solid #ccc; !* Opcjonalna ramka dla lepszej widoczności *!*/
/*    position: relative; !* Pozycjonowanie względne dla kontenera *!*/
/*}*/

.map-table {
    border-collapse: collapse; /* Usuwa odstępy między komórkami */
    width: auto; /* Pozwala na dopasowanie szerokości tabeli do zawartości */
}

.map-table td {
    width: 50px; /* Ustawia szerokość komórki na 50px */
    height: 50px; /* Ustawia wysokość komórki na 50px */
    padding: 0; /* Usuwa wewnętrzne odstępy komórek */
    margin: 0; /* Usuwa zewnętrzne marginesy komórek */
    border: 0; /* Usuwa ramki komórek */
}
.map-icon {
    display: block; /* Usuwa domyślny margines dolny obrazków */
    width: 50px; /* Szerokość obrazka ustawiona na 50px */
    height: 50px; /* Wysokość obrazka ustawiona na 50px */
}

.image-container {
    position: relative; /* Ustawia kontener jako punkt odniesienia dla pozycjonowania absolutnego */
    width: 50px; /* Ustaw szerokość kontenera */
    height: 50px; /* Ustaw wysokość kontenera */
}

.background-image, .foreground-image {
    position: absolute; /* Pozycjonowanie absolutne względem kontenera */
    top: 0; /* Ustawia obrazek na górze kontenera */
    left: 0; /* Ustawia obrazek na lewej stronie kontenera */
    width: 100%; /* Rozciąga obrazek na całą szerokość kontenera */
    height: 100%; /* Rozciąga obrazek na całą wysokość kontenera */
}
.foreground-image {
    width: 80%; /* Rozciąga obrazek na całą szerokość kontenera */
    height: 80%; /
}
.foreground-image2 {
    position: absolute;
    top: -0; /* Ustawia obrazek na górze kontenera */
    left: -0;

    width: 10px;
    height: 10px;
}

/*.background-image {*/
/*    position: absolute;*/
/*       width: 50px; !* Szerokość obrazka ustawiona na 50px *!*/
/*    height: 50px; !* Wysokość obrazka ustawiona na 50px *!*/
/*}*/

/*.foreground-image {*/
/*    position: absolute; !* Pozycjonowanie absolutne względem kontenera *!*/
/*    top: 0; !* Ustawia obrazek na górze kontenera *!*/
/*    left: 0; !* Ustawia obrazek na lewej stronie kontenera *!*/
/*     width: 50px; !* Szerokość obrazka ustawiona na 50px *!*/
/*    height: 50px; !* Wysokość obrazka ustawiona na 50px *!*/
/*}*/