{% extends "plemiona/base.html" %}
{% load custom_filters %}
{% load static %}
{% block content %}
<h2>Kuźnia - Badania</h2>
<link rel="stylesheet" href="{% static 'style.css' %}">
{% if messages %}
<div class="missing-resources">
    {% for message in messages %}
    <div{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</div>
    {% endfor %}
</div>
{% endif %}

{% if missing_resources %}
  <div class="missing-resources">
    <strong>Brakuje:</strong> {{ missing_resources|join:", " }}
  </div>
{% endif %}
<table>
  <thead>
    <tr>
      <th>Jednostka</th>
      <th>Wymagania</th>
      <th>Koszt drewna</th>
      <th>Koszt gliny</th>
      <th>Koszt żelaza</th>
      <th>Czas badania</th>
      <th>Akcja</th>
    </tr>
  </thead>
  <tbody>
    {% for unit, data in units.items %}
    <tr>
      <td>{{ unit|capfirst }}</td>
      <td>
        {% for building, level in data.items %}
          {% if building == 'wood' or building == 'clay' or building == 'iron' %}
    <!-- Twój kod, jeśli building jest 'wood', 'clay' lub 'iron' -->
          {% else %}
            {{ building|capfirst }}: Lvl {{ level }}<br>
          {% endif %}
        {% endfor %}
      </td>
      <td>{{ data.wood }}</td>
      <td>{{ data.clay }}</td>
      <td>{{ data.iron }}</td>
      <td>{{ research_times|get_from_dict:unit }}</td>
      <td>
            <a href="{% url 'plemiona:start_research' village.id unit %}" class="btn btn-primary">Badaj</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
