{% extends "plemiona/base.html" %}
{% block content %}
<table>
    <thead>
        <tr>
            <th>Autor</th>
            <th>Odbiorca</th>
            <th>Temat</th>
            <th>Data</th>
            <th>Odpowiedz/Wejdź w wątek</th>
            <th>Ilość wiadomości w wątku</th>
        </tr>
    </thead>
    <tbody>
        {% for message in messages %}
            <tr>
                <td>{{ message.sender.username }}</td>
                <td>{{ message.receiver.username }}</td>
                <td>{{ message.topic }}</td>
                <td>{{ message.date }}</td>
                <td>{% if message.thread %}
                    <a href="{% url 'plemiona:message_detail' message.thread.id %}">Odpowiedz/Wejdź w wątek</a>
                {% else %}
                    <a href="{% url 'plemiona:message_detail' message.id %}">Odpowiedz/Wejdź w wątek</a>
                {% endif %}
                </td>
                <td>{{ message.thread.thread_messages.count }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock %}
