{% load village_tags %}
{% load static %}
{% load custom_filters %}
<!DOCTYPE html>
<html>
<head>
    <title>Your Django App</title>
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Twoje własne style CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'plemiona:get_user_village' %}">Twoja Gra</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'plemiona:map_view' %}">Mapa</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'plemiona:get_user_village' %}">Wszystkie wioski</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'plemiona:send_message' %}">Wyslij wiadomosc</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'plemiona:messages_all' %}">Wszystkie wiadomości</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'plemiona:reports' %}">Raporty</a>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'plemiona:notifications_view' %}">
                            Powiadomienia <span class="badge badge-light">{{ unread_notifications_count }}</span>
                        </a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'plemiona:logout' %}">Wyloguj się</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<body style="background-color: #f8f9fa;"> <!-- Szare tło -->
    <!-- Reszta Twojego kodu -->

    {% if request.session.active_village %}
        {% with active_village_id=request.session.active_village %}
            {% get_active_village request as active_village %}
            <div class="container mt-4">
                <table class="table">
                <tr>
                    <th>Wioska</th>
                    <th>Koordynaty</th>
                    <th>Drewno</th>
                    <th>Glina</th>
                    <th>Żelazo</th>
                    <th>wydobycie Drewno</th>
                    <th>wydobycie Glina</th>
                    <th>wydobycie Żelazo</th>
                    <th>Liczba mieszkańców</th>
                    <!-- Możesz dodać więcej kolumn zgodnie z potrzebami -->
                </tr>
                <tr>
                    <td><a href="{% url 'plemiona:village_detail' active_village.id %}">{{ active_village.village_name }}</a></td>
                    <td>({{ active_village.coordinate_x }}, {{ active_village.coordinate_y }})</td>
                    <td>{{ active_village.resources.wood|floor }}</td>
                    <td>{{ active_village.resources.clay|floor }}</td>
                    <td>{{ active_village.resources.iron|floor }}</td>
                    <td>{{ active_village.sawmill|calculate_performance:'sawmill'}}/h</td>
                    <td>{{ active_village.clay_pit|calculate_performance:'clay_pit' }}/h</td>
                    <td>{{ active_village.iron_mine|calculate_performance:'iron_mine' }}/h</td>
                    <td>{{ active_village.population }}</td>
                    <!-- Dodaj więcej danych zgodnie z potrzebami -->
                </tr>
            </table>
            </div>
        {% endwith %}
    {% endif %}

    <!-- Reszta Twojego kodu -->
    {% block content %}
    {% endblock %}

    <footer>
        <!-- Your common footer content -->
    </footer>
<script src="{% static 'java_styles.js' %}"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="{% static 'java_styles.js' %}"></script>

</body>
</html>
