{% extends "plemiona/base.html" %}
{% block content %}
<!-- Twój styl CSS -->
<table class="map-table">
    {% for row in game_map %}
    <tr>
        {% for cell in row %}
            <td class="{% if cell != ' ' %}village{% endif %}">
                {% if cell != ' ' %}
                    {% if cell.id == active_village_id %}
                        <a href="{% url 'plemiona:village_detail' cell.id %}">H</a>
                    {% elif cell.user == request.user %}
                        <a href="{% url 'plemiona:village_detail' cell.id %}">M</a>
                    {% else %}
                        <a href="{% url 'plemiona:village_detail' cell.id %}">X</a>
                    {% endif %}
                {% endif %}
            </td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>
{% endblock %}

