{% extends "plemiona/base.html" %}
{% block content %}
{% load static  %}
<div class="map-container">
<table class="map-table">
    {% for row in game_map %}
    <tr>
        {% for cell in row %}
            <td>
                {% if cell != ' ' %}
                    <div class="image-container">
                    {% if cell.id == active_village_id %}
                        <a href="{% url 'plemiona:village_detail' cell.id %}">
                            <img src="{% static 'images/game_basic_map.jpg' %}" alt="Tło" class="background-image">
                            <img src="{% static 'images/transparent_castle.png' %}" alt="Wioska" class="foreground-image">
                            <img src="{% static 'images/current_village.png' %}" alt="Wioska" class="foreground-image foreground-image2">
                        </a>
                        </div>
                    {% elif cell.user == request.user %}
                        <div class="image-container">
                        <a href="{% url 'plemiona:village_detail' cell.id %}">
                            <img src="{% static 'images/game_basic_map.jpg' %}" alt="Tło" class="background-image">
                            <img src="{% static 'images/transparent_castle.png' %}" alt="Wioska" class="foreground-image">
                            <img src="{% static 'images/your_village.png' %}" alt="Wioska" class="foreground-image foreground-image2">
                        </a>
                        </div>
                    {% else %}
                        <div class="image-container">
                        <a href="{% url 'plemiona:village_detail' cell.id %}">
                            <img src="{% static 'images/game_basic_map.jpg' %}" alt="Tło" class="background-image">
                            <img src="{% static 'images/transparent_castle.png' %}" alt="Wioska" class="foreground-image">
                            <img src="{% static 'images/other_village.png' %}" alt="Wioska" class="foreground-image foreground-image2">
                        </a>
                        </div>
                    {% endif %}
                {% else %}
                    <img src="{% static 'images/game_basic_map.jpg' %}" alt="Trawa" class="map-icon">
                {% endif %}
            </td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>
    </div>
{% endblock %}
