{% extends "plemiona/base.html" %}
{% block content %}
<div class="container">
    <h2 class="mt-4"> Temat: {{ topic_message.subject }}</h2>

    <div class="message-thread">
        {% for reply in thread %}
            <div class="message {{ forloop.counter0|divisibleby:2|yesno:'odd,even' }}">
                <strong>{{ reply.replier.username }}</strong>
                {% if reply.content %}
                    <small class="text-muted">{{ reply.date }}</small>
                {% endif %}
                <p>{{ reply.content }}</p>

            </div>
        {% endfor %}
    </div>

    <form method="post" class="reply-form mt-4">
        {% csrf_token %}
        <div class="form-group">
{#            {{ form.content.label_tag }}#}
            {{ form.content }}
        </div>
        <button type="submit" class="btn btn-primary">Wyślij odpowiedź</button>
    </form>
</div>
{% endblock %}
