{% extends "plemiona/base.html" %}
{% block content %}
{% load custom_filters %}
{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">
<h4><a href="{% url 'plemiona:get_user_village' %}">Wszystkie_wiochy</a></h4>
<h3><a href="{% url 'plemiona:village_detail' village.id %}">powrót do wioski</a></h3>
<h3>{{ village.village_name }}</h3>

{% if missing_resources %}
  <div class="missing-resources">
    <strong>Brakuje:</strong> {{ missing_resources|join:", " }}
  </div>
{% endif %}
{% if error_message %}
<div class="missing-resources">
    {{ error_message }}
</div>
{% endif %}
<h3>Zadania Budowy</h3>
<table>
    <tr>
        <th>Typ Budynku</th>
        <th>Docelowy Poziom</th>
        <th>Czas Zakończenia</th>
        <th>Status</th>
    </tr>
    {% for task in building_tasks %}
    <tr>
        <td>{{ task.building_type }}</td>
        <td>{{ task.target_level }}</td>
        <td>{{ task.completion_time }}</td>
        <td>{{ task.is_active|yesno:"Aktywne,Oczekujące" }}</td>
    </tr>
    {% endfor %}
</table>
<table>
  <thead>
    <tr>
      <th>Budynek</th>
      <th>Aktualny Poziom</th>
      <th>czas budowy</th>
      <th><img src="{% static 'images/wood.jpg' %}" alt="Drewno"  class="resource-icon"> Drewno {{ data.wood }}</th>
      <th>  <img src="{% static 'images/clay.jpg' %}" alt="Glina" class="resource-icon"> Glina {{ data.clay }}</th>
      <th><img src="{% static 'images/iron.jpg' %}" alt="Żelazo" class="resource-icon"> Żelazo {{ data.iron }}</th>
      <th>Akcja</th>
    </tr>
  </thead>
  <tbody>
    {% for building, data in next_levels.items %}
      <tr>
        <td>{{ building|capfirst }}</td>
        {% if data %}
          <td>{{ village|get_attribute:building }}</td>
          <td>{{ data.build_time}}</td>
          <td>{{ data.wood }}</td>
          <td>{{ data.clay }}</td>
          <td>{{ data.iron }}</td>
          <td><a href="{% url 'plemiona:upgrade_building' village.id building %}">Rozbudowa</a></td>
        {% else %}
          <td colspan="5">Maksymalny poziom osiągnięty.</td>
        {% endif %}
      </tr>
    {% endfor %}
  </tbody>
</table>


{% endblock %}
