{% extends "plemiona/base.html" %}
{% block content %}
{% load static %}
<script src="{% static 'time_calculate.js' %}"></script>

    {% if village.user == request.user %}
        <h4><a href="{% url 'plemiona:get_user_village' %}">Wszystkie_wiochy</a></h4>

        <h2>Twoja Wioska</h2>
        <h3>Nazwa: {{ village.village_name }}</h3>
        <p>Koordynaty: ({{ village.coordinate_x }}, {{ village.coordinate_y }})</p>

        <!-- Pełne informacje dla właściciela wioski -->
        <table>
            <thead>
                <tr>
                    <th><a href="{% url 'plemiona:town_hall_view' village.id %}">Ratusz</a></th>
                    <th><a href="{% url 'plemiona:barracks_view' village.id %}">Koszary</a></th>
                    <th><a href="{% url 'plemiona:place_view' village.id %}">PLac</a></th>
                    <th>Pikinierzy</th>
                    <th>Halabardnicy</th>
                    <th>Łucznik</th>
                    <th>Topornik</th>
                    <th>lekki kawalerzysta</th>
                    <th>łucznik konny</th>
                    <th>ciężki kawalerzysta</th>
                    <th>Spichlerz</th>
                    <th>Zagroda</th>
                    <th>schowek</th>
                    <th>kuźnia</th>
                    <th>rynek</th>
                    <th>Tartak</th>
                    <th>Kopalnia Żelaza</th>
                    <th>Kopalnia Gliny</th>

                </tr>
            </thead>
            <tbody>
                    <tr>
                        <td>{{ village.town_hall }}</td>
                        <td>{{ village.barracks }}</td>
                        <td>plac</td>
                        <td>{{ village.army.pikemen_inside }}</td>
                        <td>{{ village.army.halberdiers_inside }}</td>
                        <td>{{ village.army.archer_inside }}</td>
                        <td>{{ village.army.axeman_inside }}</td>
                        <td>{{ village.army.light_cavalry_inside }}</td>
                        <td>{{ village.army.archer_cavalry_inside }}</td>
                        <td>{{ village.army.heavy_cavalry_inside }}</td>
                        <td>{{ village.granary }}</td>
                        <td>{{ village.farm }}</td>
                        <td>{{ village.cache }}</td>
                        <td>{{ village.forge }}</td>
                        <td>{{ village.market }}</td>
                        <td>{{ village.sawmill }}</td>
                        <td>{{ village.iron_mine }}</td>
                        <td>{{ village.clay_pit }}</td>
                    </tr>
            </tbody>
        </table>

        {% if army_tasks %}
    <h3>Zadania Armii</h3>
    <table>
        <thead>
            <tr>
                <th>Typ Zadania</th>
                <th>Wioska Broniąca</th>
                <th>Czas Wyjścia</th>
                <th>Czas Przybycia</th>
                <th>Pozostały Czas</th>
            </tr>
        </thead>
        <tbody>
            {% for task in army_tasks %}
                <tr>
                    <td>{{ task.get_action_type_display }}</td>
                    <td>{{ task.defender_village.village_name }}</td>
                    <td>{{ task.departure_time }}</td>
                    <td>{{ task.arrival_time }}</td>
                    <td id="countdown-{{ forloop.counter }}" data-arrival-time="{{ task.arrival_time|date:"Y-m-d H:i:s" }}"></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}
    {% else %}
        <h2>Nazwa: {{ village.user }}</h2>
        <h3>Nazwa: {{ village.village_name }}</h3>
        <p>Koordynaty: ({{ village.coordinate_x }}, {{ village.coordinate_y }})</p>
        <!-- Ograniczone informacje dla innych użytkowników -->
        <!-- Możesz dodać więcej informacji tutaj, jeśli chcesz -->
    {% endif %}
{% endblock %}


