{% extends "plemiona/base.html" %}
{% block content %}

    {% if village.user == request.user %}
        <h4><a href="{% url 'plemiona:get_user_village' %}">Wszystkie_wiochy</a></h4>

        <h2>Twoja Wioska</h2>
        <h3>Nazwa: {{ village.village_name }}</h3>
        <p>Koordynaty: ({{ village.coordinate_x }}, {{ village.coordinate_y }})</p>

        <!-- Pełne informacje dla właściciela wioski -->
        <table>
            <thead>
                <tr>
                    <th><a href="{% url 'plemiona:town_hall_view' village.id %}">Ratusz</a></th>
                    <th><a href="{% url 'plemiona:barracks_view' village.id %}">Koszary</a></th>
                    <th>Pikinierzy</th>
                    <th>Halabardnicy</th>
                    <th>Łucznik</th>
                    <th>Topornik</th>
                    <th>Drewno</th>
                    <th>Żelazo</th>
                    <th>Glina</th>
                    <th>Spichlerz</th>
                    <th>Zagroda</th>
                    <th>Tartak</th>
                    <th>Kopalnia Żelaza</th>
                    <th>Kopalnia Gliny</th>

                </tr>
            </thead>
            <tbody>
                    <tr>
                        <td>{{ village.town_hall }}</td>
                        <td>{{ village.barracks }}</td>
                        <td>{{ village.pikemen }}</td>
                        <td>{{ village.halberdiers }}</td>
                        <td>{{ village.archer }}</td>
                        <td>{{ village.axeman }}</td>
                        <td>{{ village.wood }}</td>
                        <td>{{ village.iron }}</td>
                        <td>{{ village.clay }}</td>
                        <td>{{ village.granary }}</td>
                        <td>{{ village.farm }}</td>
                        <td>{{ village.sawmill }}</td>
                        <td>{{ village.iron_mine }}</td>
                        <td>{{ village.clay_pit }}</td>
                    </tr>
            </tbody>
        </table>
    {% else %}
        <h2>Nazwa: {{ village.user }}</h2>
        <h3>Nazwa: {{ village.village_name }}</h3>
        <p>Koordynaty: ({{ village.coordinate_x }}, {{ village.coordinate_y }})</p>
        <!-- Ograniczone informacje dla innych użytkowników -->
        <!-- Możesz dodać więcej informacji tutaj, jeśli chcesz -->
    {% endif %}
{% endblock %}
